/* color palette from <https://github.com/vuejs/theme> */
:root {
  --neutral-50:#F6F7F9;
  --neutral-100:#EDF0F2;
  --neutral-200:#DCE0E5;
  --neutral-300:#CBD2DB;
  --neutral-400:#B6C1CA;
  --neutral-500:#929EAA;
  --neutral-600:#6F7C8E;
  --neutral-700:#525E6F;
  --neutral-800:#323C49;
  --neutral-900:#14181F;
  --neutral-950:#0A0D0F; 
  
  --primary-100:#EEF8FF;
  --primary-200:#E0F2FE;
  --primary-300:#BCE4FF;
  --primary-400:#0CA5EB;
  --primary-500:#0081C5;
  --primary-600:#0168A3;
  --primary-700:#142C57;


  --warning-100:#FFF6D1;
  --warning-200:#FFED9E;
  --warning-300:#FFDE66;
  --warning-400:#F58700;
  --warning-500:#DB6E00;
  --warning-600:#C76300;
  --warning-700:#81340E;


  --success-100:#DBFFE1;
  --success-200:#BEFEC7;
  --success-300:#93F2A2;
  --success-400:#00BD1F;
  --success-500:#00A81C;
  --success-600:#009419;
  --success-700:#0C6E1F;

  --danger-100:#FFF0F1;
  --danger-200:#FFDEE0;
  --danger-300:#FFB4BF;
  --danger-400:#F31246;
  --danger-500:#ED2315;
  --danger-600:#CB0B38;
  --danger-700:#930B2F;

  --info-100:#D4FCF3;
  --info-200:#B3F8EB;
  --info-300:#89EADB;
  --info-400:#00B8B8;
  --info-500:#00ABAB;
  --info-600:#009E9E;
  --info-700:#09726B;

  --feature-100:#F6EBFF;
  --feature-200:#F0DBFF;
  --feature-300:#EACCFF;
  --feature-400:#AC3DF5;
  --feature-500:#9F1FF4;
  --feature-600:#910BE9;
  --feature-700:#6D12A1;

}

a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  font-size: 15px;
  color: var(--color-text);
  background-size: cover;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
