
.btn-light {
  background-color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 600;
  padding: 0px 53px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.btn-light:hover {
  background-color: var(--neutral-100);
}

.btn-light:active {
  background-color: var(--neutral-200) !important;
}
.btn-light:focus-visible {
  background-color: var(--neutral-200) !important;
}

.btn.arrow {
  position: absolute;
  right: 14px;
  top: 8px;
  background-size: contain;
  height: 32px;
  width: 56px;
  background-repeat: no-repeat;
  transition: all 0.3s;
  border-left: 2px solid #ffffff;
  border-radius: 0px;
  padding-left: 24px;
}
.btn.arrow::before{
  content:'';
  position: absolute;
  background-image: url('@/assets/images/button-arrow-2.png');
  width: 32px;
  height: 32px;
  top: 0px;
  right: 10px;
  
}

.btn.arrow.loading::before{
  content:'';
  position: absolute;
  background-image: url('@/assets/images/loader-grey.gif');
  width: 32px;
  height: 32px;
  top: 0px;
  right: 10px;
  background-size: contain;
  
}


.btn.arrow:active {
  border: none;
}

.btn.arrow:hover {
  filter: invert(17%) sepia(0%) saturate(2644%) hue-rotate(217deg) brightness(81%) contrast(93%);
}

.input-opaque {
  font-size: 16px;
  height: 48px;
  letter-spacing: 1.5px;
  padding: 15px 64px 15px 16px !important;
  box-shadow: 0px 12px 24px 0px #ffffff1f;
  color: #ffffff40;
  border: 1px solid transparent;
  background-color: #ffffff40;
  position: relative;
  line-height: 110.00000000000001%;
  border-radius: 8px;
  color: #ffffff;
}
.input-opaque::placeholder {
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 1.5px;
}
.input-opaque:focus-visible {
  outline: none;
  border: 1px solid #ffffff80;
}

.public-layout .form-control {
  min-height: 48px!important;
  height: 48px!important;
}

